.container{
    width: 290px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
}
.left{
    width:200px;
    background-color: #88500f;
}
.right{
    width:130px;
    background-color: rgb(103, 103, 214);
}
.down{
    margin-top: 0;
    height:209px;
    background-color: #db9546fa;
    padding-bottom: 12px;
    padding-top: 12px;
}
.pic1{
    width:100%;
    height: 300px;
    object-fit:cover;
    object-position: right;
    
}
.rtop{
    display: block;
    width: 100%;
    background-color: red;
    height: 300px;
}
.rtop1{
    width: 100%;
    height:33.3%;
    display: flex;
    flex-direction:row ;
}.rtop2{
    width: 100%;
    height:33.3%;
    background-color: pink;
}.rtop3{
    width: 100%;
    height:33.3%;
    display: flex;
    flex-direction:row ;
}
.rdown{
    width: 100%;
    height: 100%;
}
.rdownpic{
    overflow: hidden;
    width: 100%;
    height: 44%;
    object-fit:cover;
    object-position: left;
}
.rtleft{
    background-color: blue;
    width: 160%;
    height: 100%;
}.rtright{
    background-color: rgb(210, 210, 216);
    width: 100%;
    height: 100%;
}
.rtcenter{
    position: relative;
    left: 15%;
    width: 70%;
    height: 100%;
    background-color: rgb(23, 23, 163);
}

.rt3l{
    background-color: blue;
    width: 90%;
    height: 100%;
}.rt3r{
    background-color: rgb(210, 210, 216);
    width: 100%;
    height: 100%;
}
.rtcimg, .rtlimg{
    width: 100%;
    height: 100%;
}
.rtlimg1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}.rtcimg3{
    width: 100%;
    height: 100%;
}
.text1{
    margin-left: 6px;
    background-color: red;
    margin-right: 30px;
    border-top-left-radius:0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 50px;
    margin-top: 1px;
}